spring:
  application:
    name: spring-boot-hexagonal-ddd-template

  main:
    banner-mode: off

  profiles:
    active: ${SPRING_PROFILES_ACTIVE:dev}

  jackson:
    default-property-inclusion: non_null

server:
  port: ${SERVER_PORT:8080}

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: never

logging:
  level:
    root: info